.nav-component {
    --stick-point: 6vh;

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    z-index: 999;

    background-color: white;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, .25);
    
    position: sticky;
    top: var(--stick-point);
}

.nc-curtain {
    position: absolute;
    bottom: 100%;
    height: var(--stick-point);
    width: 100%;
    
    background: linear-gradient(2deg, darkgray, transparent);
    backdrop-filter: blur(5px);
}

.nc-menu-item {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.nc-menu-item-caption {
    color: black;
}

@media (max-width: 425px) {
    .nav-component {
        gap: 1px;
    }

    .nc-menu-item-caption {
        /*font-size: 10px;*/
        display:none;
    }

    .nc-menu-item {
        width: 48px;
        height: 48px;
        margin: 0 1px;

        flex-wrap: wrap;
    }

    .nc-menu-item-icon {
        height: 100%;
    }
}