.nav-component {
    display: flex;
    justify-content: center;

    background-color: white;
}

.nc-menu-item {
    display: flex;
    align-items: center;
    margin: 0 10px;

    cursor: pointer;
}

.nc-menu-item-caption {

}