.nav-component {
    --stick-point: 4vh;

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .2vw;
    z-index: 999;

    background-color: white;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, .25);
    
    position: sticky;
    top: var(--stick-point);
}

.nc-curtain {
    position: absolute;
    bottom: 100%;
    height: var(--stick-point);
    width: 100%;
   
    display: flex;
    align-items: center;
    color: white;
    font-size: calc(var(--stick-point) * 80%);
    /*
    background: linear-gradient(2deg, darkgray, transparent);
    backdrop-filter: blur(5px);
    */

    background-color: #282828;
    -webkit-mask-image: -webkit-radial-gradient(rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, .9) 70%); 
}

.nc-menu-item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    
    max-width: fit-content;
    flex: 1 0;

    cursor: pointer;
}

.nc-menu-item:hover  .nc-menu-item-caption {
    transform: translateY(.5em);
}

.nc-menu-item-icon {
    align-self: flex-start;
    background-color: white;
}

.nc-menu-item-caption {
    position: relative;
    flex: 1 0 100%;
    padding-bottom: .4vh;

    text-align: center;
    color: black;
    background-color: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;

    transition: transform .2s ease-out, opacity .1s ease-out;
    transform-origin: 50%;
}

@media (width < 535px) {

    .nc-menu-item-caption {
        position: absolute;
        width: 100%;
        left: 0;
        
        opacity: 0;
        
        z-index: -1;
    }

    .nc-menu-item-caption::after {
        content: "";
        position: absolute;
        width: 90%;
        height: 1px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255, 0, 0, 0.5);
    }
    
    .nc-menu-item:hover  .nc-menu-item-caption {
        transform: translateY(100%);
        opacity: 1;
    }

    .nc-menu-item {
        width: 48px;
        height: 48px;
        margin: 0 1px;

    }

    .nc-menu-item-icon {
        height: 100%;
    }

    .nc-menu-item:hover .nc-menu-item-icon {
        box-shadow: 0 1px 0 0px royalblue;
    }
}

@media (width < 375px) {
    .nc-menu-item {
        width: 45px;
        height: 45px;
    }
}

@media (width < 350px) {
    .nc-menu-item {
        width: 40px;
        height: 40px;
    }
}

@media (width < 320px) {
    .nc-menu-item {
        width: 38px;
        height: 38px;
    }
}